a,
a:hover,
a:active,
a:visited,
a:focus {
  color: black;
  text-decoration: none;
}
.wjs-header {
  border-bottom: 1px solid #B6B4B6;
}
.wjs-header .row > div {
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #B6B4B6;
  text-align: center;
}
.wjs-header .row > div:last-child {
  border-right: none;
}
.wjs-header .row .btn-register {
  color: #fff;
}
.wjs-navbar .navbar-default {
  background-color: #fff;
  border-color: none;
  border: none;
}
.wjs-navbar .navbar-default .navbar-toggle {
  margin-top: 28px;
}
.wjs-navbar .navbar-default .navbar-brand {
  height: 80px;
  width: 164px;
}
.wjs-navbar .navbar-default .navbar-brand span {
  font-size: 50px;
  vertical-align: middle;
}
.wjs-navbar .navbar-default .navbar-brand span:nth-child(1) {
  font-size: 30px;
  color: #FF0000;
}
.wjs-navbar .navbar-default .navbar-nav li a {
  width: 86px;
  height: 80px;
  line-height: 50px;
}
.wjs-navbar .navbar-default .navbar-nav li a:hover,
.wjs-navbar .navbar-default .navbar-nav li a:focus {
  border-bottom: 3px solid #FF0000;
  color: #777777;
}
